<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    
    <td><%= info.name %> </td>
    <td><%= info.title %> </td>
    <td><%= info.location %> </td>
    <td><%= info.email %> </td>
    <td><%= info.phone %> </td>
    <td><%= info.image %> </td>
    <td><%= info.bio %> </td>
</body>
</html>